.hidden {
  display: none;
}

#logout {
  border: 2px solid rgb(255, 43, 124);
}

#logout:hover {
  box-shadow: 0 0px 4px hsla(237, 72%, 79%, 0.4), 0 0px 8px hsla(237, 72%, 79%, 0.2);
}

.hidden {
  display: none;
}