@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Space Grotesk', sans-serif;
font-family: 'Space Mono', monospace; */

:root {
  --elements-distance: clamp(1rem, 5vw, 2rem);
  --dark: #111;
  --light: #eee;

  --text-900: hsl(0, 0%, 100%);
  --text-800: hsl(0, 0%, 90%);
  --text-900-inverse: hsl(208, 37%, 10%);

  --global-background: #242424;

  --border-color: hsla(0, 0%, 100%, 0.3);
  
  font-family: 'Space Grotesk', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-900);
  background-color: var(--global-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media (prefers-color-scheme: light) {
  :root {
    --text-900: hsl(208, 37%, 10%);
    --text-800: hsl(208, 37%, 20%);
    --text-900-inverse: hsl(0, 0%, 100%);

    --global-background: #ffffff;

    --border-color: hsl(0, 0%, 85%);
  }
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.9;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

.app-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3rem .5rem;
}

h1 {
  font-size: clamp(2.5rem, 13vw, 3.5rem);
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.04em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--elements-distance);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--elements-distance);
}

button {
  color: hsl(0, 0%, 100%);
  /* background-color: #8488e0; */
  background-color: #646cff;
  opacity: 0.9;
  border-radius: 8px;
  border: 1px solid transparent;
  align-self: stretch;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 150ms ease;
}
button:hover {
  /* background-color: #646cff; */
  opacity: 1;
}
button:active {
  /* background-color: #8488e0; */
  opacity: 0.9;
}
@media screen and (pointer: coarse), (hover: none) {
  button {
    opacity: 1;
  }
}

form {
  display: grid;
  gap: .5rem;
  grid-template-columns: minmax(200px, 300px) 1fr;
}
@media screen and (max-width: 350px) {
  form {
    grid-template-columns: 1fr;
  }
}

input {
  /* color: var(--dark); */
  background-color: transparent;
  border-radius: .5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
}

input:focus {
  outline: none;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.activity {
  position: relative;
  margin-top: .5rem;
  /* color: var(--dark); */
  border-radius: .5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity:first-child {
  margin-top: 1rem;
}

.remove-button {
  font-weight: 300;
  position: absolute;
  right: .5rem;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  cursor: pointer;
}

.remove-button:hover {
  border: 1px solid var(--border-color);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}

.svg-icon {
  color: var(--text-900);
  height: 25px;
  width: auto;
}

footer {
  padding: 1rem;
  margin-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}